:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow: hidden;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.black-bg{
  font-size: 20px;
  margin: 30px ;
  display: flex;
}

button{
  background:  #242424;
  outline: none;
  color: white;
  margin-left: 40px;

  
}
